*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background-color:  rgb(72, 0, 167);
    font-family: 'Arial', sans-serif;
}

.calculadora{
    width: 360px;
    background-color: rgb(73, 152, 255);
    padding: 40px 20px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 20px;
    box-shadow: 0 10px 15px 2px #04e8f0;
}

.display{
    width: 100%;

}

.display input {
    width: 100%;
    padding: 15px 10px;
    text-align: right;
    background-color: transparent;
    color: black;
    border: none;   
    font-size: 45px;
}

.display input::placeholder{
    color: grey;

}

.button {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    margin-top: 40px;

}

.button input[type="button"]{
    font-size: 20px;
    padding: 15px;
    border: none;
    background-color: transparent;
    color: black;
    cursor: pointer;
    border-radius: 5px;
}

.button input[type="button"]:hover{
    scale: 1.2;
    box-shadow: 0 8px 25px #feffff;

}

input[type="button"]#igual{
   grid-row: span 2;
   background-color: #4470ff;
}

input[type="button"][value="0"]{
    grid-column: span 2;
}